h1 {
  color: red;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
h6 {
  color: red;
}
p {
  color: red;
  background-color: white;
}
=======
<<<<<<< HEAD
>>>>>>> 15297b4bba7244dc8e32c9790c84eab4850e44fc
/* tien */

p {
  color: red;
  background-color: white;
}
<<<<<<< HEAD
=======
>>>>>>> 1a0d1b2d7adfe0a5d9c74d53ca53b167f773c984
>>>>>>> d83d5ef2c367815557207b465129a58ab3b3d952
>>>>>>> 15297b4bba7244dc8e32c9790c84eab4850e44fc
